*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --blue-sapphire: #22577aff;
  --cadet-blue: #38a3a5ff;
  --medium-aquamarine: #57cc99ff;
  --light-green: #80ed99ff;
  --tea-green: #c7f9ccff;
}

html {
  font-size: 112.5%;
}

body {
  background: var(--cadet-blue);
  margin: 0;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100%;
  margin: 0;
}

.header {
  background: var(--tea-green);
  height: 10em;
}

.result {
  background: var(--cadet-blue);
  display: grid;
  height: 90%;
  padding-bottom: 6em;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: var(--tea-green);
  margin-top: 2em;
  height: 3em;
  padding-top: 0.9em;
}

h1 {
  padding-top: 1em;
  margin: 0;
}

.dropdown {
  width: 13em;
  color: green;
  border-radius: 5px;
  margin-top: 2em;
  font-size: 1em;
}

.triforce {
  width: 30em;
  padding-top: 3em;
  margin-right: auto;
  margin-left: auto;
  opacity: 19%;
}
