*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --blue-sapphire: #22577aff;
  --cadet-blue: #38a3a5ff;
  --medium-aquamarine: #57cc99ff;
  --light-green: #80ed99ff;
  --tea-green: #c7f9ccff;
}

html {
  font-size: 112.5%;
  margin: 0;
}

body {
  margin: 0;
  background: var(--cadet-blue);
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  height: 100vh;
  display: grid;
}

.header {
  background: var(--tea-green);
  height: 8em;
}

.characterSection {
  background: var(--medium-aquamarine);
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: var(--tea-green);
  height: 4em;
}

h1 {
  padding-top: 1em;
  margin: 0;
}
