.card {
  height: auto;
  width: 20em;
  padding: 1em;
  margin: 2em 0 0 0;
  background: var(--medium-aquamarine);
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
}

.card:first-child {
  margin-top: 3em;
}

.card img {
  border: 1px solid black;
  border-radius: 2px;
}
.card p {
  margin-left: auto;
  margin-right: auto;
  max-width: 20em;
}

.card h2::first-letter {
  text-transform: capitalize;
}
